
body {
    background: url("../image/seryy-fon.jpg") no-repeat;
    font-size: 18px;
}
.form-control {
    background-color: #dddddd;
}
 .btn{
    font-weight: bold;
    margin-left: 100px;
}
.form-horizontal, #succes {
    margin-top: 350px;
}
.control-label {
    text-align: left !important;
}
#table {
    margin-bottom: 10px;
}
.btn {
    margin-top: 10px;
    background-color:#dddddd;
}
.h {
    color: #aa0000;
}