.download{
    color: #0096dd;
    float: right;
    margin: 0 95px 0 0;
}

body {
    background: url("../image/seryy-fon.jpg") no-repeat;
    font-size: 18px;
}
.form-control {
    background-color: #dddddd;
}
.form-group {
    margin-top: 350px;
}
#table {
    margin-bottom: 10px;
}
.btn {
    margin-top: 10px;
    background-color:#dddddd;
}